<nav>
    <div class="site-main">
     <a href="/"><h1>Vikas Blogs</h1></a>
     <p>this is website for blogs</p>
    </div>
    <ul>
     <li><a href="/">Blogs</a></li>
     <li><a href="/about">about page</a></li>
     <li><a href="/create">creating blogs</a></li>
    </ul>
 </nav>