<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="about content">
        <h2>This is main page of website</h2>
        <p>this is a very good website</p>
        <p>contact details</p>
    </div>
</body>
</html>